@{
    ViewBag.Title = "The ultimate way to gain and share knowledge";
    ViewBag.Instruction = "Get your Voice In Life";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1 style="display: block; text-align: center">@ViewBag.Title</h1>
                <h2 style="display: block; text-align: center">@ViewBag.Instruction</h2>
                
                <p style="margin-top: 30px; text-align: center">
                    <a href="http://elevator.jisc.ac.uk/sosi14/ideas/voice-life-ultimate-way-gain-and-share-knowledge#!vote" style="font-size: 1.2em; font-weight: bold; color: white; padding: 10px; text-decoration: none; background-color: #0A98B7; border: #ffffff;" width="100" height="100" title="Vote for Voice in Life on the JISC website" />Vote now</a>
                    <div style="margin-top: 20px; text-align: center">Takes 2 seconds!</div>
                </p>
            </hgroup>
            <p style="text-align: center">
                <iframe width="560" height="315" src="//www.youtube.com/embed/wlal-kN4iG4" frameborder="0" allowfullscreen></iframe>
            </p>
            
            <p style="margin-top: 20px;">Start by asking yourself this question: “How easy is it to know who to talk to, when you want to understand something?” Not easy at all right?</p><p>
                “Understanding” is a very interesting part of learning. The way you understand can determine how well you recall or apply your knowledge, how likely it is to help you later in life, how likely you are to share what you know.
            </p><p>
                One thing we all understand in the same way is that education - is the future. We are here to tell you that the future - is now. What would we have today, if people did not work together to build on the timeline of knowledge? We honour the people on this timeline, and it is time to join it!
            </p><p>
                We invite you to have your Voice In Life - The mobile app that streamlines student knowledge sharing and collaboration. An unstoppable tool in taking you forward in your subject area - test your subject knowledge against the people who know or can engage you further.
            </p><p>
                Don’t restrict yourself to just learning for exams then forgetting your hard work. Empower yourself by learning for life. There are always people across universities and institutions talking about something you want to know. What if you could simply tune in? It’s always great to go out and get feedback on your ideas, or a presentation you plan to do – why not let the feedback come to you?
                </p><p>
                        Imagine you can join into conversations, ask questions there and then. You can share your own insight or expertise. Do you ever find yourself wondering what it was that you said the other day? Or saying “Oh, I used to know this!” With the app, you can track back to the timeline of knowledge that you have built.
                    </p>
            <p style="margin-top: 30px; margin-bottom: 30px; text-align: center">
                <a href="http://elevator.jisc.ac.uk/sosi14/ideas/voice-life-ultimate-way-gain-and-share-knowledge#!vote" style="font-size: 1.2em; font-weight: bold; color: white; padding: 10px; text-decoration: none; background-color: #0A98B7; border: #ffffff;" width="100" height="100" title="Vote for Voice in Life on the JISC website" />Vote now</a>
            </p>
            
            <p>
                Learning tools and note-taking methods will integrate well into your Voice In Life app. You can use voice notes, pin them on the timeline, post them into a group chat, or branch into an individual chat. Sub-topics will be easily monitored and your research will be a lot easier to manage. Several conversations (or parts of them) can be brought into one timeline that is focused on what YOU are trying to achieve.
                </p><p>
                        The app will nurture students to become pioneers, providing a platform to contribute and to connect with like-minded individuals at the grassroots level. There are no strangers on this mission; there is only target driven communication, participation, contribution and collaboration. Let your voice be heard.
                    </p>

        </div>
    </section>
}
<h3>Why a mobile app?</h3>
<ol class="round">
    <li class="one">
        <h5>The reality</h5>
        Written text is not the only way to attain knowledge and track your learning. Isn't it easier to listen to something when you're on the go?
    </li>

    <li class="two">
        <h5>Help when you're stuck</h5>
        When you simply don’t know how to search what you’re looking for, it’s time to use your Voice In Life and say it however you can. Find someone who takes your brush and paints the picture.
    </li>

    <li class="three">
        <h5>A time and a place?</h5>
        Most things in life have a time and place, but that’s for the individual. Connect with people similar to you. Perhaps people who study at night, or early in the morning? Time and location should never limit your learning – learn on the go, so you can go anywhere.
    </li>
    <li class="four">
        <h5>It's about you!</h5>
        In this day and age it’s easy to look forward to your next phone. You can want a better phone but what about a better ‘you’? Tools help you use them by giving you a handle to hold, your Voice In Life app will give you everything else.
    </li>
    <li class="five">
        <h5>A time and a place?</h5>
        Most things in life have a time and place, but it varies by the individual. Connect with people similar to you. Perhaps people who study at night, or early in the morning? Time and location should never limit your learning – learn on the go, so you can go anywhere.
    </li>
</ol>
<p style="margin-top: 30px; text-align: center">
    <a href="http://elevator.jisc.ac.uk/sosi14/ideas/voice-life-ultimate-way-gain-and-share-knowledge#!vote" style="font-size: 1.2em; font-weight: bold; color: white; padding: 10px; text-decoration: none; background-color: #0A98B7; border: #ffffff;" width="100" height="100" title="Vote for Voice in Life on the JISC website" />Vote now</a>
</p>
